.TheHeader {
  position: relative;
  padding: 5rem;
  text-align: center;
  background-color: #282c34;
  color: white;
  
  &-logo {
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 40vmin;
    pointer-events: none;
  }
}
